    <style>
      #wrap {
        width: 750px;
        height: 1500px;
        padding: 0;
        overflow: hidden;
      }
      #scaled-frame {
        width: 1500px;
        height: 1200px;
        border: 0px;
      }
      #scaled-frame {
        zoom: 0.7;
        -moz-transform: scale(0.7);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.7);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.7);
        -webkit-transform-origin: 0 0;
      }
      .table-scrollbar {
        height: 500px;
        overflow: auto;
      }
      .table-responsive {
        display: table;
      }
      .badge {
        color: #fff;
      }
      .ip-address {
        color: #fff;
      }
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        #scaled-frame {
          zoom: 1;
        }
      }
      @media only screen and (min-width: 1280px) {
        body {
          overflow-x: hidden; /* Hide horizontal scrollbar */
        }
      }
      @media only screen and (max-width: 600px) {
        body {
          zoom: 1;
          -webkit-transform: scale(1);
        }
      }
    </style>